<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HackYourTemp</title>
</head>
<body>
    <section>
    <h1>Hack Your Temp</h1>
    <div class="form">
    {{{body}}}  
    </div>
    </section>
</body>
</html>