
<form method = "POST" action="/weather">
  <label for="city-name">Enter City Name</label><br>
  <input type="text" id="city-field" name="cityName" ><br>
  <input type="submit" value="Submit">
</form> 
